// contents
// 1. variables
// 2. mixins
// 3. head

// 1. variables
$head-width: 300px;
$head-height: 340px;
$skin-color-100: hsl(19, 76%, 88%);
$skin-color-200: hsl(19, 46%, 68%);
$hair-color: hsl(27, 33%, 28%);

// 2. mixins
@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin circle($size) {
    border-radius: 100%;
    width: $size;
    height: $size;
}

// 3. head
.head {
    @include flex-center();
    background: $skin-color-100;
    width: $head-width;
    height: $head-height;
    border-radius: 70% 70% 100% 100%;
}
  
.eyes, .brows {
    position: absolute;
    width: 195px;
    display: flex;
    justify-content: space-between;
}

.eye {
    @include flex-center();
    background-color: white;
    height: 40px;
    width: 65px;
    border-radius: 100%;
    border-top: 3px solid $skin-color-200;
    border-bottom: 3px solid $skin-color-200;
    overflow: hidden;
    position: relative;
    .iris {
        position: absolute;
        @include circle(41px);
        background-color: hsl(78, 10%, 42%);
        margin-left: 10px;
        margin-bottom: 5px;
    }
    .pupil {
        position: absolute;
        @include circle(15px);
        background-color: #333;
        margin-left: 15px;
        margin-bottom: 7px;
    }
}

.brow {
    width: 65px;
    height: 32px;
    border-top: 10px solid $hair-color;
    border-radius: 100%;
    margin-bottom: 35px;
}

.nose {
    position: absolute;
    border: 4px solid $skin-color-200;
    width: 40px;
    height: 30px;
    border-radius: 0 0 100% 100%;
    border-top: none;
    margin-top: 100px;
}

.mouth {
    position: absolute;
    width: 100px;
    height: 40px;
    background: white;
    margin-top: 225px;
    border-radius: 20% 20% 100% 100%;
    border: 4px solid $skin-color-200;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-width: 2px;
}

.ears {
    z-index: 0;
    position: absolute;
    width: $head-width + 50px;
    display: flex;
    justify-content: space-between;
}

.ear {
    width: 25px;
    height: 70px;
    border: 2px solid $skin-color-200;
    background: hsl(19, 76%, 85%);
    border-radius: 0 100% 100% 0;
}

.ear:first-child {
    border-radius: 100% 0 0 100%;
}

.hair {
    position: absolute;
    width: $head-width;
    height: 125px;
    background-color: $hair-color;
    margin-bottom: 300px;
    border-radius: 50% 100% 0 0;
    .hair-piece {
        position: absolute;
        background-color: $hair-color;
        height: 100px;
        width: 10px;
        transform: translateY(100%);
        &:first-child {
            right: 0;
        }
    }
}


.hair-corner {
    position: absolute;
    width: 100%;
    .hair-corner-piece {
        position: absolute;
        width: 14px;
        height: 20px;
        transform: rotate(45deg);
        background-color: $hair-color;
        top: 115px;
        left: 5px;
        &:first-child {
            left: initial;
            right: 5px;
            transform: rotate(-45deg);
        }
    }
}

// .hair-corner::before,
// .hair-corner::after {
// content: '';
//     position: absolute;
//     width: 14px;
//     height: 20px;
//     transform: rotate(45deg);
//     background-color: $hair-color;
//     top: 115px;
//     left: 5px;
// }

// .hair-corner::after {
//     left: initial;
//     right: 5px;
//     transform: rotate(-45deg);
// }