
// table of contents
// 1. default stats
// 2. variables
// 3. mixins
// 4. centering
// 5. forms
// 6. nav bar
// 7. media queries

// 1. default stats
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// 2. variables
$primary-color: hsl(200, 50%, 82%);
$secondary-color: hsl(200, 50%, 12%);
$base-font-size: 10px;

// 3. mixins
@mixin font-size($size) {
  font-size: $base-font-size * 1.618 * $size;
}

// 4. centering
.head-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $primary-color;
}

@import "./faceDefault";
  
// 5. forms
form {
  padding: .2em;
  margin: .2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: $secondary-color;
  fieldset {
    @include font-size(3);
    color: $primary-color;
    padding: .2em;
    margin: .2em;
  }
  label {
    @include font-size(2);
  }
  input {
    @include font-size(2);
    width: 100px;
    height: 30px;
    padding: .2em;
    margin: .2em;
  }
}
.account-form {
  width: 100vw;
  height: 100vh;
  fieldset {
    width: 90vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px repeat(3, 1fr);
    label {
      text-align: center;
      display: block;
      input {
        width: min-content;
        height: min-content;
        background-color: $primary-color;
        color: $secondary-color;
        &:focus {
          outline: none;  
        }
      }
      button {
        width: fit-content;
        height: min-content;
        background-color: $primary-color;
        color: $secondary-color;
        &:focus {
          outline: none;  
        }
      }
    }
  }
}

// 6. nav bar
header {
  position: relative;
}
nav {
  min-width: 50px;
  min-height: 50px;
  max-height: min-content;
  max-width: max-content;
  background-color: $primary-color;
  color: $secondary-color;
  border: solid 3px $secondary-color;
  border-radius: 10px;
  right: 0;
  top: 0;
  position: absolute;
  a {
    display: none;
  }
  &:hover a {
    @include font-size(1);
    display: block;
    text-decoration: none;
    padding: .2em;
    text-align: center;
    transition-duration: 300ms;
    &:hover {
      background-color: $secondary-color;
      color: $primary-color;
    }
  }
}

// 7. media queries
@media only screen and (max-width: 480px) {
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}