
// table of contents
// 1. default stats
// 2. variables
// 3. mixins
// 4. centering
// 5. form
// 6. media queries

// 1. default stats
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// 2. variables
$primary-color: hsl(200, 50%, 82%);
$secondary-color: hsl(200, 50%, 12%);
$base-font-size: 10px;

// 3. mixins
@mixin font-size($size) {
  font-size: $base-font-size * 1.618 * $size;
}

// 4. centering
.head-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $primary-color;
}

@import "./faceDefault";
  
// 5. form
form {
  padding: .2em;
  margin: .2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: $secondary-color;
  fieldset {
    @include font-size(3);
    color: $primary-color;
    padding: .2em;
    margin: .2em;
  }
  label {
    @include font-size(2);
  }
  input {
    @include font-size(2);
    width: 100px;
    height: 30px;
    padding: .2em;
    margin: .2em;
  }
}

// 6. media queries
@media only screen and (max-width: 480px) {
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .App {
    flex-direction: column;
  }
}